@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    /* Optionally, you might want to set other styles like text color */
    color: white;
    /* Example: Setting text color to white */
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'),
        url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    /*Update the path to your font file*/
}

@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'),
        url('/fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    /* Update the path to your font file */
}

@font-face {
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    src: local('Caveat Regular'), local('Caveat-Regular'),
        url('/fonts/Caveat/Caveat-Regular.ttf') format('truetype');
    /* Update the path to your font file */
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #454545;
    /* Change to your desired color */
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #252525;
    /* Change to your desired color */
}

/* For Firefox */
.scrollbar-thumb-gray-400 {
    scrollbar-color: #08e686 #ae17bf;
    /* Change to your desired colors */
}